@tailwind base;
@tailwind components;
@tailwind utilities;

img{
  max-width:100%;
width:100%;
}
body {
margin:0;
font-family: "Inter", sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing:grayscale;
@apply bg-gradient-to-br from-stone-900 to-slate-900;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.btn{
  @apply py-2 px-8 border-white border-2 bg-transparent text-white hover:opacity-75 transition-all duration-200;
}
.heading{
  @apply text-white font-bold text-4xl md:text-5xl xl:text-6xl;
}
p{
  line-height: 1.8;
  @apply text-sm;
}
.showcase{
  background: url("/images/bg_home.jpg") no-repeat center/cover;
  height:calc(100vh - 0.1px);
}
.showcase .overlay{
  background-color: rgba(0,0,0,0.3);
  height:calc(100vh - 0.1px);
  display: flex;
  align-items: center;
  justify-content: center;
}


.launches{
  background: url("/images/bg_launch.jpeg");
}
 .datason{
  background: url("/images/bg_datason.jpeg");
  
} 

